@media only screen and (max-width: 900px) {
.wrapper {
	max-width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto 1fr auto;
	grid-template-areas:
	"intro"
	"patreon"
	"top"
	"content"
	"newsletter"
	"footer";
}

.patreon {
	writing-mode: horizontal-tb;;
}

.patreon p {
	top: unset;
	transform: translateY(0px);
	left: unset;
	height: 25px;
	margin: auto;
	text-align: center;
}

/*------------------ TOP ------------------*/

.top {
	grid-template-columns: 80px 1fr 80px;
	align-self: stretch;
	grid-template-rows: 1fr;
	grid-template-areas: "left-nav logo nav";
	grid-auto-flow: columns;
	margin-bottom: 0;
}

.top__nav {
	margin-right: 20px;
	justify-self: end;
	text-align: right;
}

.top__logo {
	display: none;
}

.top__logo--mobile {
	grid-area: logo;
	margin: 10px 0;
	display: grid;
	justify-self: center;
}

#mobile-hide {
	display: none;
}

.menu-on {
	display: inline-block;
}

.web-nav {
	display: none;
}

.mobile-nav {
	display: block;
}

.search-icon-mobile {
	grid-area: left-nav;
}

/*------------------ CONTENT ------------------*/

.content {
	grid-area: content;
	margin: 0px 40px;
}

.post {
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto auto auto auto;
	grid-auto-flow: column;
	margin: 0 0 20px 0;
}


.post__number {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	display: grid;
	grid-template-columns: 1fr auto auto 1fr;
	justify-content: center;
	font-family: "DP-Light";
	font-size: 20px;
	color: #b5b5b5;
	transform: translateY(+20px);
}

.big_num {
	font-weight: lighter;
	grid-column: 2 / 3;
	font-size: 40px;
	color: #212127;
	transform: translateY(-15px);
}

.small_num {
	font-size: 15px;
	grid-column: 3 / 4;
	transform: translateX(+5px);
}

.post__title {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	margin-bottom: 10px;
	font-family: "DP-Regular";
	font-size: 30px;
	line-height: 1.2em;
}

.post__title--twitter {
	font-style: italic;
}

.post__date {
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	font-size: 12px;
	transform: translateY(3px);
	margin-bottom: 20px;
}

.post__description {
	grid-column: 1 / 2;
	grid-row: 4 / 5;
	margin-bottom: 10px;
}

.post__info {
	grid-column: 1 / 2;
	grid-row: 5 / 6;
	display: grid;
	grid-template-columns: auto auto;
}

.post__info--no-description {
	grid-row: 4 / 5;
}


.post__info__categories {
	justify-self: left;
}

.post__info__categories p {
	display: block-inline;
	font-family: "B-Regular";
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.original-author-url {
	margin-right: 10px;
}

.original_author_handle {
	margin-right: 0;
	box-shadow: none;
}

.post__info__social {
	justify-self: right;
	transition: transformX(+30px);
}

.social-link {
	margin-left: 5px;
}

.link-standard {
	margin-right: 10px;
}

.category-separator {
	display: none;
}

.thumb-image {
	display: none;
}

.i-separator {
	display: inline-block;
	margin-right: 20px;
	height: 8px;
	width: 2px;
	background-color: var(--light-gray);
}

.post__separator {
	height: 2px;
	width: 100%;
	background-color: var(--light-gray);
	margin: 30px 0 0 0;
	grid-column: 1 / -1;
}

.post__title--media {
	grid-column: 1 / -1;
}

.media__image {
	display: none;
}

.video-play-overlay {
	display: none;
}

/*------------------ SEARCH SUB ------------------*/

.search-info {
	background-color: #e3e4e4;
	padding: 10px;
	margin-bottom: 0px;
	border-radius: 5px;
}

/*------------------ PAGINATION ------------------*/
.pagination {
	margin-bottom: 20px;
}

/*------------------ NEWSLETTER ------------------*/
.newsletter {
	border-radius: 0px;
}


}