:root {
	--main-dark-color: #161c28;
	--secondary-color: #f6311c;
	--light-gray: #d1d2d2;
	--posts-width: 780px;
	--main-text-color: #161c28;
	--underline-color: #00ff78;

}

@font-face {
  font-family: 'DP-Light';
  src:  url('/static/fonts/DP-Light.WOFF') format('woff');
}
@font-face {
  font-family: 'DP-Regular';
  src:  url('/static/fonts/DP-Regular.WOFF') format('woff');
}
@font-face {
  font-family: 'B-Bold';
  src:  url('/static/fonts/B-Bold.WOFF') format('woff');
}
@font-face {
  font-family: 'B-Regular';
  src:  url('/static/fonts/B-Regular.WOFF') format('woff');
}


/*------------------ RESET CSS ------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------ CSS ------------------*/

body {
	font-family: "Lucida Grande", "Helvetica", sans-serif;
	line-height: 1.8;
	font-size: 14px;
	background: #f2f2f2;

}

a {
	text-decoration: none;
	color: var(--main-text-color);
}

*::selection {
  background: #c1f2d8;
}

*::-moz-selection {
  background: #c1f2d8;
}

*::-webkit-selection {
  background: #c1f2d8;
}


.post__number-faded {
	opacity: 0.1;
}

.wrapper {
	display: grid;
	grid-template-columns: minmax(20px, 50px) minmax(40px, auto) minmax(400px, 800px) minmax(40px, auto);
	grid-template-rows: 50px 140px minmax(auto, 1fr) auto auto;
	grid-template-areas:
	"intro 		intro 			intro 			intro"
	"patreon 	top 				top 				top"
	"patreon 	sizebar-l 	content 		sidebar-r"
	"patreon 	sizebar-l 	newsletter 	sidebar-r"
	"patreon 	sizebar-l 	footer 			sidebar-r";
	min-height: 100vh;
}


.patreon {
	grid-area: patreon;

	font-family: "B-Regular", sans-serif;
	font-size: 15px;
	letter-spacing: 2px;
	color: white;
	background-color: var(--secondary-color) ;
	height: 100%;
	writing-mode: vertical-rl;
}

.patreon:hover {
	transition-duration: 1s;
	background-color: crimson;
}

.patreon p {
	position: relative;
	top: 50vh;
	transform: translateY(-100px);
	left: -13px;
	max-height: 200px;
}

/*------------------ TOP ------------------*/

.intro-text {
	display: grid;
	grid-auto-flow: column;
	align-content: center;
	justify-content: center;

	grid-area: intro;

	height: 50px;
	width: 100%;

	background-color: var(--main-dark-color);
	color: white;

	font-size: 11px;
	text-align: center;
	margin: auto;
	line-height: 13px;
}

.intro-text span {
	color: var(--secondary-color);
}

.top {
	grid-area: top;
	align-self: start;

	display: grid;
	grid-template-columns: 300px auto 300px;
	grid-template-rows: 1fr;
	grid-template-areas: "left-nav logo nav";
	grid-auto-flow: columns;

	margin-bottom: 50px;
	
}

.top__logo {
	grid-area: logo;
	margin: auto;
}

.top__logo--mobile {
	display: none;
}

.top__nav {
	grid-area: nav;

	align-self: center;
	justify-self: right;
	margin-right: 50px;
}

.top__nav a {
	font-family: "B-Regular", sans-serif;
	font-size: 14px;

	display: inline-block;

	text-decoration: none;
	color: black;
	margin-left: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.top__nav ul li {
	display: inline-block;
}

.search-icon {
	transform: translateY(2px);
	margin-right: 10px;
	cursor: pointer;
}

.menu-on {

	z-index: 99;
	display: none;
	cursor: pointer;
}


#toggle-menu {
	display: none;
}

.mobile-nav {
	display: none;
}
.menu-overlay {
	display: none;
}

.menu-container {
	margin: auto;
}

.menu-off {
	color: red;
	font-size: 30px;
	z-index: 102;
	cursor: pointer;
	margin-bottom: 100px;
}


#toggle-menu:checked ~ .menu-overlay {
	padding-top: 40px;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(17,21,30, 0.9);
	z-index: 100;

	display: grid;
	height: 100vh;
	width: 100vw;
	z-index: 101;
	margin: auto auto;
	text-align: center;
}

#toggle-menu:checked ~ .menu-overlay li a, .mobile-search {
	font-family: "B-Regular", sans-serif;
	font-size: 30px;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#toggle-search {
	display: none;
}

.search-overlay {
	display: none;
}

#toggle-search:checked ~ .search-overlay {
	position: fixed;
	display: grid;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(17,21,30, 0.9);
	z-index: 105;

}

.search-off {
	color: red;
	font-size: 30px;
	z-index: 102;
	cursor: pointer;
	opacity: 0;

}


input[type=search] {
	background-color: white;
	border: none;
	height: 100px;
	/*margin-left: 40px;*/
	/*margin-right: 40px;*/
	width: 80%;
	margin: auto;
	display: block;
	font-size: 20px;
	padding: 40px;
	font-family: "B-Regular", sans-serif;
	font-size: 30px;
}




/*------------------ CONTENT ------------------*/

.content {
	display: grid;
	grid-area: content;
}

.post {
	display: grid;
	grid-template-columns: 90px 120px minmax(200px, auto);
	grid-template-rows: auto auto auto auto;
	grid-auto-flow: column;
}


.post__number {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	
	display: grid;
	grid-template-columns: 1fr 1fr auto;
	justify-content: start;

	font-family: "DP-Light", sans-serif;
	font-size: 20px;
	color: #b5b5b5;
}

.big_num {

	font-weight: lighter;
	grid-column: 1 / 2;
	font-size: 60px;
	color: #212127;
	transform: translateY(-24px);

}

.small_num {
	grid-column: 2 / 3;
	transform: translateX(-6px);

}

.post__title {
	grid-column: 2 / -1;
	grid-row: 1 / 2;
	margin-bottom: 30px;
	
	font-family: "DP-Regular", sans-serif;
	font-size: 40px;
	line-height: 1.2em;
}

.post__title--twitter {
	font-style: italic;
}

.post__date {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	
	font-size: 12px;
	transform: translateY(3px);


}

.post__description {
	grid-column: 3 / -1;
	grid-row: 2 / 3;
	margin-bottom: 30px;
}

.post__info {
	grid-column: 3 / -1;
	grid-row: 3 / 4;

	display: grid;
	grid-template-columns: auto auto;
}

.post__info--no-description {
	grid-row: 2 / 3;
}


.post__info__categories {
	justify-self: left;
}

.post__info__categories p {
	display: block-inline;
	font-family: "B-Regular", sans-serif;
	font-size: 14px;
	font-weight: bold;

	display: inline-block;

	text-decoration: none;
	color: black;

	text-transform: uppercase;
	letter-spacing: 1px;

}

.original-author-url {
	display: block-inline;

	font-size: 14px;


	display: inline-block;

	text-decoration: none;
	color: black;
	/*margin-right: 10px;*/
	box-shadow: inset 0 -6px 0 #76cfec;
	transition-duration: 1s;

}


.original-author-url:hover {
	/*box-shadow: inset 0 -6px 0 #415dc3;*/
	box-shadow: inset 0 -6px 0 #6279cd;

	transition-duration: 0.4s;
}


.original_author_handle {
	margin-right: 0;
	box-shadow: none;
}

.post__info__social {
	justify-self: right;
	transition: transformX(+30px);

}

.social-link {
	margin-left: 5px;
}

.link-standard {
	font-family: "B-Regular", sans-serif;
	font-size: 14px;

	display: inline-block;

	text-decoration: none;
	color: black;
	text-transform: uppercase;
	letter-spacing: 1px;
	box-shadow: inset 0 -6px 0 var(--underline-color);
	
	transition-duration: 1s;
}

.link-standard:hover {
	box-shadow: inset 0 -6px 0 #43af8d;
	transition-duration: 0.4s;
}



.category-separator {
	margin: 0 10px;

}
.i-separator {
	display: inline-block;
	margin-right: 20px;
	height: 8px;
	width: 2px;
	background-color: var(--light-gray);
}

.post__separator {
	height: 2px;
	width: 100%;
	background-color: var(--light-gray);
	margin: 50px 0;
	grid-column: 1 / -1;
}

.post__title--media {
	grid-column: 3 / -1;
}

.media__image {
	
	grid-column: 2 / 3;
	grid-row: 1 / 2;

	width: 80px;
	height: 80px;
	transform: translateY(+10px);

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}


.video-play-overlay {
	grid-column: 1 / 2;

	position: absolute;
	top: 0;
	left: 0;
}

.back-link {
	display: inline-block;
	margin: 40px 200px;
	background: red;
}

.button-standard {
	display: inline-block;
	outline:none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border-radius:40px;
  background: none;
  border: 4px solid var(--underline-color);
  margin: 20px 0;
  padding: 5px 15px 4px 15px;

  font-family: "B-Regular", sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;

  transition-duration: 1s;
}

.button-standard:hover {
	background: var(--underline-color);
	color: white;
	transition-duration: .2s;
}

.button-grey {
	border: 4px solid var(--light-gray);


}

.button-grey:hover {
	background: var(--light-gray);
	color: var(--main-dark-color);

}

.button-back {
	width: 50px;
	height: 25px;
}




.button-important {
	display: block;
	outline:none;
  text-align: center;
  border-radius:40px;
  background: none;
  border: 3px solid var(--underline-color);
  margin: 20px 0;
  padding: 5px 15px;


  font-family: "B-Regular", sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;

  background: var(--underline-color);
}


/*------------------ NEWSLETTER ------------------*/

.newsletter {
	grid-area: newsletter;

	font-family: "DP-Regular", sans-serif;
	font-size: 30px;
	line-height: 1.2em;

	background-color: var(--main-dark-color);
	color: white;
	margin-bottom: 50px;
	padding: 40px;
}

.newsletter span {
	color: var(--secondary-color);
}

/*------------------ FORM ------------------*/


.form {
	margin-bottom: 40px;
	max-width: 500px;

}

.form__title {
	margin-bottom: 40px;
	
	font-family: "DP-Regular", sans-serif;
	font-size: 40px;
	line-height: 1.2em;
}

.form__text-input {
	height: 40px;
	width: 100%;
	margin-bottom: 10px;
	padding-left: 20px;
	font-size: 16px;

}

/*.form__text-input {
	height: 40px;
	width: 100%;
	margin-bottom: 10px;
}*/

.form__text-input--multichoice {
	min-height: 40px;
	width: 100%;
	margin-bottom: 10px;
}

.form__text-area {
	min-height: 200px;
	width: 100%;
	margin-bottom: 10px;
	padding: 20px;
	font-size: 16px;
}

/*------------------ PAGINATION ------------------*/

.pagination {
	margin: auto;
	text-align: center;
	margin-bottom: 50px;
}

/*------------------ FOOTER ------------------*/


.footer {
	grid-area: footer;
	display: grid;
	grid-auto-flow: row;
	align-self: end;
	height: 200px;
	justify-content: center;
	width: 100%;
	margin-bottom: 20px;
}


.footer-text {
	margin: 20px 0 20px 0;
	/*transform: translateX(80px);*/
	font-size: 12px;
	line-height: 18px;
	text-align: center;
}

.footer img {
	justify-self: center;
	transform: translateX(-5px);
}

.footer__links {

}

.footer__links a {
	text-decoration: underline;
	font-size: 10px;
	margin: 0 4px;
}

.footer__links a:after {
    content: "|";
    display: inline-block;
    margin-left: 10px;
}

.footer__links a:last-child:after {
	margin-left: 0;
	content: "";
}

/*------------------ SUBPAGES ------------------*/



.subpage-header {
	font-size: 40px;
}

.subpage__separator {
	height: 2px;
	width: 100%;
	/*display: inline-block;*/
	background-color: var(--light-gray);
	/*float: left;*/
	/*margin: 50px 0;*/
	grid-column: 1 / -1;
}

/*------------------ ABOUT ------------------*/

.about__text-section {
	margin-bottom: 40px;
}

.about__text-section h2 {
	font-family: "DP-Regular", sans-serif;
	font-size: 40px;
	margin-bottom: 20px;
}

.about__text-section p {
	margin-bottom: 20px;
}

.grayed-out {
	color: grey;
}



/*------------------ JOBS ------------------*/

.jobs {
	width: 100%;
}

.jobs p {
	margin-bottom: 40px;
}


/*------------------ FEEDBACK ------------------*/


.feedback {
	margin-bottom: 20px;
}

.feedback-date, .feedback-ip{
	font-size: 10px;
	margin-bottom: 5px;
}

.feedback-ip {
	font-size: 10px;
	margin-bottom: 10px;
} 

/*------------------ PAGINATION ------------------*/

.link-pagination {
	margin: 0 3px;
}
