:root {
	--main-dark-color: #161c28;
	--secondary-color: #f6311c;
	--light-gray: #d1d2d2;
	--posts-width: 780px;
	--main-text-color: #161c28;
	--underline-color: #00ff78;
}


/*------------------ RESET CSS ------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------ CSS ------------------*/

body {
	font-family: "Inter UI";
	line-height: 1.8;
	font-size: 14px;
	background: #f2f2f2;

}

a {
	text-decoration: none;
	color: var(--main-text-color);
}


.wrapper {
	display: grid;
	grid-template-columns: minmax(20px, 50px) minmax(40px, auto) minmax(400px, 800px) minmax(40px, auto);
	grid-template-rows: 50px minmax(150px, auto) auto auto;
	grid-template-areas:
	"intro 		intro 			intro 		intro"
	"patreon 	top 				top 			top"
	"patreon 	sizebar-l 	content 	sidebar-r"
	"patreon 	footer 			footer 		footer";
	min-height: 100vh;
}


.patreon {
	grid-area: patreon;

	font-family: "Bebas Neue";
	font-size: 15px;
	letter-spacing: 2px;
	color: white;
	background-color: var(--secondary-color) ;
	height: 100%;
	writing-mode: vertical-rl;
}

.patreon p {
	position: relative;
	top: 50vh;
	transform: translateY(-100px);
	left: -13px;
	max-height: 200px;
}


/*------------------ TOP ------------------*/

.intro-text {
	display: grid;
	grid-auto-flow: column;
	align-content: center;
	justify-content: center;

	grid-area: intro;

	height: 50px;
	width: 100%;

	background-color: var(--main-dark-color);
	color: white;

	font-size: 11px;
	text-align: center;
	margin: auto;
	line-height: 13px;
}

.intro-text span {
	color: var(--secondary-color);
}

.top {
	grid-area: top;
	align-self: start;

	display: grid;
	grid-template-columns: 150px auto 150px;
	grid-template-rows: 1fr;
	grid-template-areas: "leftside logo nav";
	grid-auto-flow: columns;

	margin-bottom: 50px;
	
}

.top__logo {
	grid-area: logo;
	margin: auto;
}

.top__logo--mobile {
	display: none;
}

.top__nav {
	grid-area: nav;

	align-self: center;
	justify-self: right;
	margin-right: 50px;
}

.top__nav a {
	font-family: "Bebas Neue";
	font-size: 14px;

	display: inline-block;

	text-decoration: none;
	color: black;
	margin-left: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/*------------------ CONTENT ------------------*/

.content {
	grid-area: content;
	margin: auto;
}

.post {
	display: grid;
	grid-template-columns: 90px 120px minmax(200px, auto);
	grid-template-rows: auto auto auto auto;
	grid-auto-flow: column;
	margin-bottom: 40px;
}


.post__number {

	grid-column: 1 / 2;
	grid-row: 1 / 2;
	
	display: grid;
	grid-template-columns: 1fr 1fr auto;
	justify-content: start;

	font-family: "DINPro-Light";
	font-size: 20px;
	color: #b5b5b5;
}

.big_num {

	font-weight: lighter;
	grid-column: 1 / 2;
	font-size: 60px;
	color: #212127;
	transform: translateY(-24px);

}

.small_num {
	grid-column: 2 / 3;
	transform: translateX(-6px);

}

.post__title {
	grid-column: 2 / -1;
	grid-row: 1 / 2;
	margin-bottom: 40px;
	
	font-family: "DINPro";
	font-size: 40px;
	line-height: 1.2em;
}

.post__title--twitter {
	font-style: italic;
}

.post__date {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	
	font-size: 12px;
	transform: translateY(3px);


}

.post__description {
	grid-column: 3 / -1;
	grid-row: 2 / 3;
	margin-bottom: 30px;
}

.post__info {
	grid-column: 3 / -1;
	grid-row: 3 / 4;

	display: grid;
	grid-template-columns: auto auto;
}

.post__info--no-description {
	grid-row: 2 / 3;
}


.post__info__categories {
	justify-self: left;
}

.post__info__categories p {
	display: block-inline;
	font-family: "Bebas Neue";
	font-size: 14px;
	font-weight: bold;

	display: inline-block;

	text-decoration: none;
	color: black;

	text-transform: uppercase;
	letter-spacing: 1px;

}

.original-author-url {
	display: block-inline;

	font-size: 14px;


	display: inline-block;

	text-decoration: none;
	color: black;
	/*margin-right: 10px;*/
	box-shadow: inset 0 -6px 0 #76cfec;

}

.original_author_handle {
	margin-right: 0;
	box-shadow: none;
}

.post__info__social {
	justify-self: right;
	transition: transformX(+30px);

}

.social-link {
	margin-left: 5px;
}

.category-link {
	font-family: "Bebas Neue";
	font-size: 14px;

	display: inline-block;

	text-decoration: none;
	color: black;
	text-transform: uppercase;
	letter-spacing: 1px;
	box-shadow: inset 0 -6px 0 var(--underline-color);
}




.category-separator {
	margin: 0 10px;

}
.i-separator {
	display: inline-block;
	margin-right: 20px;
	height: 8px;
	width: 2px;
	background-color: var(--light-gray);
}

.post__separator {
	height: 2px;
	width: 100%;
	background-color: var(--light-gray);
	margin: 50px 0;
	grid-column: 1 / -1;
}

.post__title--media {
	grid-column: 3 / -1;
}

.media__image {
	
	grid-column: 2 / 3;
	grid-row: 1 / 2;

	width: 80px;
	height: 80px;
	transform: translateY(+10px);

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}


.video-play-overlay {
	grid-column: 1 / 2;

	position: absolute;
	top: 0;
	left: 0;
}

/*------------------ NEWSLETTER ------------------*/

.content__newsletter {
	background-color: yellow;
	height: 200px;
}


/*------------------ FOOTER ------------------*/

.footer {
	grid-column: footer;
	display: grid;
	grid-auto-flow: row;
	align-self: end;
	height: 200px;
	justify-content: center;

	margin-top: 50px;

}

.footer-text {
	margin: 20px 0 40px 0;
	transform: translateX(80px);
	font-size: 12px;
	line-height: 18px;
}

.footer img {
	justify-self: center;
}

.pagination {
	margin: auto;
	text-align: center;
}


/*--------------------------------------------*/
/*------------------ MOBILE ------------------*/
/*--------------------------------------------*/
@media only screen and (max-width: 600px) {
.wrapper {
	max-width: 100vw;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto auto;
	grid-template-areas:

	"intro"
	"patreon"
	"top"
	"content"
	"footer";
}

.patreon {
	grid-area: patreon;

	font-family: "Bebas Neue";
	font-size: 15px;
	letter-spacing: 2px;
	color: white;
	background-color: var(--secondary-color) ;
	height: 100%;
	writing-mode: horizontal-tb;;
}

.patreon p {
	position: relative;
	top: unset;
	transform: translateY(0px);
	left: unset;
	height: 25px;
	margin: auto;
	text-align: center;
}

/*------------------ TOP ------------------*/


.top {

	grid-template-columns: 50px auto 50px;
	grid-template-rows: 1fr;
	grid-template-areas: "left-side logo nav";
	grid-auto-flow: columns;

	margin-bottom: 0;
	/*background: green;*/
	
}

.top__nav {
	margin-right: 10px;
}

.top__logo {
	display: none;
}

.top__logo--mobile {
	grid-area: logo;
	margin: 10px auto;
	display: grid;

}


/*------------------ CONTENT ------------------*/

.content {
	grid-area: content;
	margin: auto;
}

.post {
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto auto auto auto;
	grid-auto-flow: column;
	/*margin-bottom: 40px;*/
	margin: 0 40px 20px 40px;
}


.post__number {

	grid-column: 1 / 2;
	grid-row: 1 / 2;
	
	display: grid;
	grid-template-columns: 1fr auto auto 1fr;
	justify-content: center;

	font-family: "DINPro-Light";
	font-size: 20px;
	color: #b5b5b5;
	/*transform: translateX(-20px);*/
	transform: translateY(+20px);
}

.big_num {

	font-weight: lighter;
	grid-column: 2 / 3;
	font-size: 40px;
	color: #212127;
	transform: translateY(-15px);

}

.small_num {
	font-size: 15px;
	grid-column: 3 / 4;
	transform: translateX(+5px);

}

.post__title {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	margin-bottom: 10px;
	
	font-family: "DINPro";
	font-size: 30px;
	line-height: 1.2em;
}

.post__title--twitter {
	font-style: italic;
}

.post__date {
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	
	font-size: 12px;
	transform: translateY(3px);
	margin-bottom: 20px;


}

.post__description {
	grid-column: 1 / 2;
	grid-row: 4 / 5;
	margin-bottom: 10px;
}

.post__info {
	grid-column: 1 / 2;
	grid-row: 5 / 6;

	display: grid;
	grid-template-columns: auto auto;
}

.post__info--no-description {
	grid-row: 4 / 5;
}


.post__info__categories {
	justify-self: left;
}

.post__info__categories p {
	display: block-inline;
	font-family: "Bebas Neue";
	font-size: 14px;
	font-weight: bold;

	display: inline-block;

	text-decoration: none;
	color: black;

	text-transform: uppercase;
	letter-spacing: 1px;

}

.original-author-url {
	margin-right: 10px;
}

.original_author_handle {
	margin-right: 0;
	box-shadow: none;
}

.post__info__social {
	justify-self: right;
	transition: transformX(+30px);

}

.social-link {
	margin-left: 5px;
}

.category-link {
	margin-right: 10px;
}




.category-separator {
	display: none;
}

.thumb-image {
	display: none;
}

.i-separator {
	display: inline-block;
	margin-right: 20px;
	height: 8px;
	width: 2px;
	background-color: var(--light-gray);
}

.post__separator {
	height: 2px;
	width: 100%;
	background-color: var(--light-gray);
	margin: 30px 0 0 0;
	grid-column: 1 / -1;
}

.post__title--media {
	grid-column: 1 / -1;
}

.media__image {
	display: none;
}


.video-play-overlay {
	display: none;
}

/*------------------ NEWSLETTER ------------------*/

.content__newsletter {
	background-color: yellow;
	height: 200px;
}


/*------------------ FOOTER ------------------*/

.footer {
	grid-column: footer;
	display: grid;
	grid-auto-flow: row;
	align-self: end;
	height: 200px;
	justify-content: center;

	margin-top: 50px;

}

.footer-text {
	margin: 20px 0 40px 0;
	transform: translateX(80px);
	font-size: 12px;
	line-height: 18px;
}

.footer img {
	justify-self: center;
}

.pagination {
	margin: auto;
	text-align: center;
}

}