{% load staticfiles %}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
	/*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
	font-family: "DINPro";
	line-height: 1.8em;
	background: #f2f2f2;
}

.wrapper {
	/*max-width: 780px;*/
	margin: auto;
}

.top {
	max-width: 1200px;
	margin: auto;
	display: grid;
	grid-auto-flow: column;

	align-items: center;
	margin-bottom: 50px;
  /*justify-content: center;*/
}

.top-logo {
	margin: auto;
	/*width: 100px;*/
	font-family: "Bebas Neue";
	font-size: 15px;
}

.patreon {
	/*height: 50px;*/
	width: 90px;
	padding: 10px;
	font-family: "Bebas Neue";
	font-size: 15px;
	color: white;
	background-color: #e63140;
	margin-left: 50px;
}

.top-links {
	font-family: "Bebas Neue";
	font-size: 15px;
	justify-self: end;
	margin-right: 50px;
}

.post {
	max-width: 480px;
	margin-bottom: 50px;
	margin: auto;
}

.post a {

	text-decoration: none;
	color: black;
}

.post-title{
	font-size: 40px;
	line-height: 1.2em;
}

.post-description {
	font-size: 1em;
	line-height: 1.8em;
}

.post-date {
	font-size: 0.8em;
	text-transform: uppercase;
}

.post-break {
	height: 8px;
	width: 40px;
	background: yellow;
	margin-bottom: 10px;
}

.title-base-url {
	color: grey;
	text-transform: uppercase;
	font-size: 0.8em;
}

.post-tags {
	/*display: inline-block;*/
}

.tag {
	font-family: "Bebas Neue";
	font-size: 14px;

	display: inline-block;

	/*font-size: 12px;*/
	text-decoration: none;
	margin-right: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
}


.tag a {
	/*text-decoration: underline;*/
	border-bottom: 4px solid #00ff78;
}

.post-break-line {
	height: 1px;
	background: #a9abad;
	margin: 50px 0;
}

