{% load static %}
<div class="post__info__social">
	<a class="social-link" href="http://www.facebook.com/share.php?u={{ post.get_url_for_social }}&title={{ post.title|urlencode }}" target="_blank">
		<img src="{% static 'img/icons/fb.png' %}" alt="Social share Facebook icon">
	</a>
	<a class="social-link" href="http://twitter.com/home?status={{ post.title|urlencode }}+{{ post.get_url_for_social }}%20via%20https%3A%2F%2Ftwitter.com%2Fknown_protocol" target="_blank">
		<img src="{% static 'img/icons/twitter.png' %}" alt="Social share Twitter icon">
	</a>
	<a class="social-link" href="http://www.linkedin.com/shareArticle?mini=true&url={{ post.get_url_for_social }}&title={{ post.title|urlencode }}&source=www.knowledgeprotocol.com" target="_blank">
		<img src="{% static 'img/icons/linkedin.png' %}" alt="Social share Linkedin icon">
	</a>
	<a class="social-link" href="{{ post.get_absolute_url }}" target="_self">
		<img src="{% static 'img/icons/inner-link-icon.png' %}" alt="">
	</a>
</div>

