{% load static %}
<div class="post__info__social">
	<a class="social-link" href="http://www.facebook.com/share.php?u={{ post.get_url_for_social }}&title={{ post.title }}" target="_blank">
		<img src="{% static 'img/icons/fb.png' %}" alt="">
	</a>
	<a class="social-link" href="http://twitter.com/home?status={{ post.title }}+{{ post.get_url_for_social }}" target="_blank">
		<img src="{% static 'img/icons/twitter.png' %}" alt="">
	</a>
	<a class="social-link" href="http://www.linkedin.com/shareArticle?mini=true&url={{ post.get_url_for_social }}&{{ post.title }}=sometitle&source=www.knowledgeprotocol.com" target="_blank">
		<img src="{% static 'img/icons/linkedin.png' %}" alt="">
	</a>
</div>