{% load static %}
<div class="post__info__social">
	<a class="social-link" href="http://www.facebook.com/share.php?u=www.url.com&title=sometitle" target="_blank">
		<img src="{% static 'img/icons/fb.png' %}" alt="">
	</a>
	<a class="social-link" href="http://twitter.com/home?status=[TITLE]+[URL]" target="_blank">
		<img src="{% static 'img/icons/twitter.png' %}" alt="">
	</a>
	<a class="social-link" href="http://www.linkedin.com/shareArticle?mini=true&url=www.domain.com&title=sometitle&source=domain.com" target="_blank">
		<img src="{% static 'img/icons/linkedin.png' %}" alt="">
	</a>
</div>