{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Crypt{% endblock title %}</title>
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
	<div class="wrapper">
		<header class="top">
			<a href="#"><div class="patreon">Become a patreon</div></a>
			<img class="top-logo" src="{% static 'img/logo.png' %}" alt="">
			<nav class="top-links">
				<a href="{% url 'about' %}">About</a>
			</nav>
		</header>
		
		{% block content %}
		{% endblock content %}
		
		<footer class="footer">© 2018 Paper Tiger LLC—All Rights Reserved, All Wrongs Reversed.</footer>
	</div>


</body>
</html>