{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Knowledge Protocol | Blockchain, bitcoin, tokens, cryptocurencies and protocols daily.{% endblock %}</title>
	<meta name="description" content="{% block seo_description %}{% endblock %}">
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<div class="wrapper">
		<a class="patreon" href="https://www.patreon.com/knowledgeprotocol" target="_blank"><p>Become a Patreon</p></a>

		<h1 class="intro-text"><div><span>Knowledge Protocol</span>. Daily curated brain food from the space of blockchain, bitcoin, tokens, cryptocurencies and protocols. No news, no bullshit, <span>deep knowledge</span> only.</div></h1>
		<header class="top">
			<a class="top__logo"href="{% url 'home' %}"><img  src="{% static 'img/logo.png' %}"></img></a>
			<img class="top__logo top__logo--mobile" src="{% static 'img/logo-mobile.png' %}"></img>
			<nav class="top__nav">
				<a href="{% url 'jobs' %}">Jobs</a>
				<a href="{% url 'about' %}">About</a>
			</nav>
		</header>
		
		<section class="content">
			{% block content %}
			{% endblock %}
		</section>
		
		<div class="newsletter">
			{% if form.errors %}
					{% for field in form %}
							{% for error in field.errors %}
									<div class="alert alert-danger">
											<strong>{{ error|escape }}</strong>
									</div>
							{% endfor %}
					{% endfor %}
					{% for error in form.non_field_errors %}
							<div class="alert alert-danger">
									<strong>{{ error|escape }}</strong>
							</div>
					{% endfor %}
			{% endif %}
			<p>Subscribe to our newsletter to get the latest scoop right to your inbox.</p>
			<form action="{% url 'newsletter_signup' %}" method="post" class="subscribe-form">
				{% csrf_token %}
				<input type="email" name="email" class="newsletter-input" placeholder="Your Email" autofocus>
				<button type="submit" class="newsletter-submit">Subscribe</button>
			</form>

		 

		</div>

		<footer class="footer">

			<img src="{% static 'img/footer-eye.png' %}"" alt="" class="footer-img">
			<div class="footer-text">
				©<br>
				Copyright Knowledge Protocol.<br>
				All rights reserved.<br>
				2018
			</div>
		</footer>

	</div>	

</body>
</html>

