{% extends 'base.html' %}

{% block title}
	Crypt
{% endblock title}

{% block content %}
	<!-- <h1>Posts</h1> -->

	{% for post in posts %}
		<article class="post">
			<h2 class="post-title"><a href="{{ post.url }}" target="_blank">{{ post.title }}</a></h2>
			

			<p class="post-date">{{ post.publish|date:"d M, Y" }}</p>
			<p class="post-description">{{ post.description }}</p>
			{% if post.thumb_image %}
				<img src="{{ post.thumb_image.url }}" alt="">
			{% endif %}
			<h1>{{ post.first_set_number }} / {{ post.second_set_number }}</h1>

			<ul class="post-tags">
				<li class="tag tag-type"><a href="#">{{ post.difficulty_level }}</a></li>
				{% for category in post.categories.all %}
					<li class="tag text-shadow underline"><a href="#">{{ category }}</a></li>
				{% endfor %}
			</ul>
			<a href="{{ post.get_absolute_url }}">detail</a>
			<a href="{{ post.get_absolute_url }}edit">edit</a>
			<div>Share:
				<a href="https://www.facebook.com/sharer/sharer.php?u=http://CodingForEntrepreneurs.com/">FB</a>
				<a href="https://twitter.com/home?status=I'm%20going%20to%20learn%20to%20Code...%20Come%20build%20an%20web%20apsp%20with%20me!%20%23CFE%20and%20@justinmitchel%20http://codingforentrepreneurs.com/">TW</a>
				<a href='https://plus.google.com/share?url=http://codingforentrepreneurs.com'>G+</a>
				<a href="https://www.linkedin.com/shareArticle?mini=true&url=http://swiftforentrepreneurs.com/&title=Be%20first%20%7C%20Join%20Swift%20for%20Entrepreneurs&summary=Swift%20for%20Entrepreneurs%20is%20a%20project-based%20programming%20course%20for%20non-technical%20founders.%20We'll%20learn%20how%20to%20build%20iOS%20apps%20from%20scratch%20using%20Apple's%20new%20programming%20language:%20Swift.%20Be%20first%20and%20learn%20with%20me!&source=http://swiftforentrepreneurs.com/">LN</a>
				<a href="http://www.reddit.com/submit?url=http://swiftforentrepreneurs.com/&title=Unlock%20to%20Learn%20Swift%20for%20Free!%20By%20Swift%20for%20Entrepreneurs.%20Made%20for%20Non%20Techincals.">Reddit</a>
			</div>
			<div class="post-break-line"></div>

		</article>



		<style>
			h1 {
				font-size: 50px;
			}
		</style>

	{% endfor %}
	<div class="pagination">
	    <span class="step-links">
	    	
	        {% if posts.has_previous %}
	            <a href="?page=1">&laquo; first</a>
	            <a href="?page={{ posts.previous_page_number }}">previous</a>
	        {% endif %}

	        <span class="current">
	            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
	        </span>

	        {% if posts.has_next %}
	            <a href="?page={{ posts.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
	            <a href="?page={{ posts.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">last &raquo;</a>
	        {% endif %}
	    </span>
		</div>
{% endblock content %}