{% extends 'base.html' %}

{% block title}
	Crypt
{% endblock title}

{% block content %}
	<h1>Posts</h1>
	{% for post in posts %}
		<article class="post">
			<!-- <div class="post-break"></div> -->
			<h2 class="post-title"><a href="{{ post.url }}" target="_blank">{{ post.title }}</a></h2>
			<p class=title-base-url>[{{ post.url }}]</p>
			<p class="post-date">{{ post.post_date }}</p>
			<p class="post-description">{{ post.description }}</p>
			
			<!-- test tags -->

			<ul class="post-tags">
				<li class="tag tag-type"><a href="#">beginner</a></li>
				<li class="tag text-shadow underline"><a href="#">altcoin</a></li>
				<li class="tag text-shadow underline"><a href="#">blockchain</a></li>
			</ul>
			<div class="post-break-line"></div>

		</article>

	{% endfor %}
{% endblock content %}