{% extends 'base.html' %}

{% block title}
Jobs | Knowledge Protocol
{% endblock title}

{% block content %}
	<div class="subpage-content">
		<div class="subpage__separator"></div>
		<a class="button-standard" href="{% url 'home' %}"><span>&#8637;</span> Back</a>
		<a class="button-standard" href="{% url 'home' %}"><span>&#8637;</span> Back</a>
		<!-- <a class="button-standard" href="{% url 'home' %}"><span>&#10525</span> Back to home</a> -->
		<div class="subpage__separator"></div>

		<h2 class="subpage-header">Jobs.</h2>
	
	<p>There are no jobs at the moment.</p>
	</div>
{% endblock content %}