{% extends 'base.html' %}

{% block title %}
Jobs | Knowledge Protocol
{% endblock title %}

{% block content %}
	<div class="jobs">
		<div class="subpage__separator"></div>
		<a class="button-standard" href="{% url 'home' %}"><span>&#8637;</span> Back</a>
		<a class="button-standard" href="mailto:knowledgeprotocols@gmail.com?Subject=Job%20Posting" target="_top" ><span></span>Concatct us to post a job</a>
		<div class="subpage__separator"></div>

		<h2 class="subpage-header">Jobs.</h2>
	
		<p>There are no jobs at the moment.</p>
	</div>
{% endblock content %}